.container{
    position: relative;;
}

.blue_team{
    float: left;
}

.red_team{
    float: right;
}

.middle{
    position: absolute;
    left: 30%;
    width: 40%;
}

.control_btn_group{
    text-align: center;
    margin-top: 10px;
}

.next_and_switch{
    margin-top: 20%;
}

.first_ban{
    margin: 5px;
    display: flex;
}

.second_ban{
    margin: 5px;
    display: flex;
}

.ban_group{
    display: flex;
}