.container{
    height: 100px;
    width: 300px;
    background-color: #232323;
    margin: 10px 0 10px 0;
}

.hero_image{
    height: 80px;
    background-image: url(../../../src/image/images.jpg);
    width: 300px;
    background-position: center;
}

.hero_name{
    float: right;
    font-weight: bold;
}