.container{
    display: flex;
    justify-content: center;
}

.countdown_time{
    height: 100px;
    width: 100px;
    background-color: #111111;
    color: white;
}

.countdown_time > p{
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    font-size: 30px;
}

.score_pick{
    height: 100px;
    width: 200px;
}

.score{
    height: 60px;
    background-color: #d5d5d5;
    color: black;
}

.score > p{
    margin: 0;
    padding-top: 10px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.pick{
    height: 39px;
    background-color: #252525;
    color: white;
    border-bottom: solid 1px white;
}

.pick > p{
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}